### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [3]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

## Player Count

* Display the total number of players

In [4]:
total_players = purchase_data['SN'].value_counts()
print(f'Total Players = {len(total_players)}')

Total Players = 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
unique_items = len(purchase_data['Item ID'].value_counts())
avg_price = purchase_data['Price'].mean()
total_purchases = len(purchase_data['Purchase ID'])
total_revenue = purchase_data['Price'].sum()

summary_df = pd.DataFrame([[unique_items,avg_price,total_purchases,total_revenue]],columns=['Number of Unique Items', 'Average Price', 'Total Number of Purchases', 'Total Revenue'])

summary_df

,Number of Unique Items,Average Price,Total Number of Purchases,Total Revenue
0,179,3.050987,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
#total_players
subset = purchase_data.drop_duplicates(subset=['SN'])
gender_groups = subset.groupby(['Gender'])


gender_totals = gender_groups['Gender'].count() 
percentage_bg = gender_totals / len(total_players) * 100

gender_demographics = pd.DataFrame({
    "Total Count": gender_totals, 
    "Percentage of Players": percentage_bg
})
gender_demographics

                       Total Count  Percentage of Players
Gender
Female                          81              14.062500
Male                           484              84.027778
Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
purchases_by_gender = purchase_data.groupby(['Gender'])
total_purchases_bg = purchases_by_gender['Purchase ID'].count()
total_price_bg = purchases_by_gender['Price'].sum()
avg_price_bg = total_price_bg / total_purchases_bg
avg_spent_bg = total_price_bg / gender_totals

gendered_purchasing_analysis = pd.DataFrame({
    "Purchase Count": total_purchases_bg, 
    "Average Purchase Price": avg_price_bg, 
    "Total Purchase Value": total_price_bg,
    "Avg Spent per Person": avg_spent_bg
})
gendered_purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Spent per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [9]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
age_ranges = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
subset['Age Range'] = pd.cut(subset['Age'], bins, labels=age_ranges, include_lowest=True)

grouped_by_ar = subset.groupby('Age Range')
age_totals = grouped_by_ar['Age'].count()
percentage_ba = age_totals / len(total_players) * 100

#age_demographics = pd.DataFrame(pd.cut(subset['Age'], bins, labels=age_ranges, include_lowest=True))

age_demographics = pd.DataFrame({
    "Total Count": age_totals, 
    "Percentage of Players": percentage_ba
})
age_demographics

C:\Users\Adam\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

           Total Count  Percentage of Players
Age Range
<10                 17               2.951389
10-14               22               3.819444
15-19              107              18.576389
20-24              258              44.791667
25-29               77              13.368056
30-34               52               9.027778
35-39               31               5.381944
40+                 12               2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
age_ranges = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
purchase_data['Age Range'] = pd.cut(purchase_data['Age'], bins, labels=age_ranges, include_lowest=True)

purchases_by_age = purchase_data.groupby(['Age Range'])
total_purchases_ba = purchases_by_age['Purchase ID'].count()
total_price_ba = purchases_by_age['Price'].sum()
avg_price_ba = total_price_ba / total_purchases_ba
avg_spent_ba = total_price_ba / age_totals

age_purchasing_analysis = pd.DataFrame({
    "Purchase Count": total_purchases_ba, 
    "Average Purchase Price": avg_price_ba, 
    "Total Purchase Value": total_price_ba,
    "Avg Spent per Person": avg_spent_ba
})
age_purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Spent per Person
Age Range,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [24]:
spenders_group = purchase_data.groupby('SN')
total_spenders = spenders_group.count()
total_purchases_bs = spenders_group['Purchase ID'].count()
avg_purchase_bs = spenders_group['Price'].mean()
total_value_bs = spenders_group['Price'].sum()

top_spenders = pd.DataFrame({
    "Purchase Count" : total_purchases_bs,
    "Average Purchase Price" : avg_purchase_bs,
    "Total Purchase Value" : total_value_bs      
    })
sorted_spenders = top_spenders.sort_values("Total Purchase Value", ascending=False)
sorted_spenders.head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [39]:
items = purchase_data[['Item ID', 'Item Name', 'Price']]
grouped_items = items.groupby(['Item ID', 'Item Name'])

purchase_count = grouped_items['Item Name'].count()
item_price = grouped_items['Price'].mean()
total_purchase_value = grouped_items['Price'].sum()

total_purchase_value.head()
popular_items = pd.DataFrame({
    'Purchase Count' : purchase_count,
    'Item Price' : item_price,
    'Total Purchase Value': total_purchase_value
})
sorted_items = popular_items.sort_values('Purchase Count', ascending=False)
sorted_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [40]:
sorted_items = popular_items.sort_values('Total Purchase Value', ascending=False)
sorted_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80