In [1]:
import pandas as pd

file = "Resources/purchase_data.csv"

purchase_data = pd.read_csv(file)

In [2]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

## Player Count

In [3]:
total_players = purchase_data['SN'].value_counts()
print(f'Total Players = {len(total_players)}')

Total Players = 576

## Purchasing Analysis (Total)

In [4]:
unique_items = len(purchase_data['Item ID'].value_counts())
avg_price = purchase_data['Price'].mean()
total_purchases = len(purchase_data['Purchase ID'])
total_revenue = purchase_data['Price'].sum()

summary_df = pd.DataFrame({
        'Number of Unique Items': unique_items,
        'Average Price': avg_price,
        'Total Number of Purchases': total_purchases,
        'Total Revenue': total_revenue

},index=[0])

summary_df['Average Price'] = summary_df['Average Price'].map("${:.2f}".format)
summary_df['Total Revenue'] = summary_df['Total Revenue'].map("${:,.2f}".format)
summary_df

,Number of Unique Items,Average Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

## Gender Demographics

In [5]:
#total_players
subset = purchase_data.drop_duplicates(subset=['SN'])
gender_groups = subset.groupby(['Gender'])


gender_totals = gender_groups['Gender'].count() 
percentage_bg = gender_totals / len(total_players) * 100

gender_demographics = pd.DataFrame({
    "Total Count": gender_totals, 
    "Percentage of Players": percentage_bg.map("{:.2f}%".format)
})
gender_demographics

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

In [13]:
purchases_by_gender = purchase_data.groupby(['Gender'])
total_purchases_bg = purchases_by_gender['Purchase ID'].count()
avg_price_bg = (total_price_bg / total_purchases_bg)
total_price_bg = purchases_by_gender['Price'].sum()
avg_spent_bg = (total_price_bg / gender_totals)

gendered_purchasing_analysis = pd.DataFrame({
    "Purchase Count": total_purchases_bg, 
    "Average Purchase Price": avg_price_bg.map("${:.2f}".format), 
    "Total Purchase Value": total_price_bg.map("${:,.2f}".format),
    "Avg Spent per Person": avg_spent_bg.map("${:.2f}".format)
})
gendered_purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Spent per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

In [9]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
age_ranges = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
subset['Age Range'] = pd.cut(subset['Age'], bins, labels=age_ranges, include_lowest=True)

grouped_by_ar = subset.groupby('Age Range')
age_totals = grouped_by_ar['Age'].count()
percentage_ba = (age_totals / len(total_players) * 100).map("{:.2f}%".format)

#age_demographics = pd.DataFrame(pd.cut(subset['Age'], bins, labels=age_ranges, include_lowest=True))

age_demographics = pd.DataFrame({
    "Total Count": age_totals, 
    "Percentage of Players": percentage_ba
})
age_demographics

C:\Users\Adam\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

           Total Count Percentage of Players
Age Range
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

In [12]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
age_ranges = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
purchase_data['Age Range'] = pd.cut(purchase_data['Age'], bins, labels=age_ranges, include_lowest=True)

purchases_ba = purchase_data.groupby(['Age Range'])
total_purchases_ba = purchases_ba['Purchase ID'].count()
total_price_ba = purchases_ba['Price'].sum()
avg_price_ba = total_price_ba / total_purchases_ba
avg_spent_ba = total_price_ba / age_totals

age_purchasing_analysis = pd.DataFrame({
    "Purchase Count": total_purchases_ba, 
    "Average Purchase Price": avg_price_ba.map("${:.2f}".format), 
    "Total Purchase Value": total_price_ba.map("${:,.2f}".format),
    "Avg Spent per Person": avg_spent_ba.map("${:.2f}".format)
})
age_purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Spent per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

In [101]:
spenders_group = purchase_data.groupby('SN')
total_spenders = spenders_group.count()
total_purchases_bs = spenders_group['Purchase ID'].count()
avg_purchase_bs = spenders_group['Price'].mean()
total_value_bs = spenders_group['Price'].sum()


top_spenders = pd.DataFrame({
    "Purchase Count" : total_purchases_bs,
    "Average Purchase Price" : avg_purchase_bs,
    "Total Purchase Value" : total_value_bs     
    })

sorted_spenders = top_spenders.sort_values("Total Purchase Value", ascending=False)
sorted_spenders['Average Purchase Price'] = avg_purchase_bs.map("${:.2f}".format)
sorted_spenders['Total Purchase Value'] = total_value_bs.map("${:.2f}".format)


sorted_spenders.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

In [107]:
items = purchase_data[['Item ID', 'Item Name', 'Price']]
grouped_items = items.groupby(['Item ID', 'Item Name'])

purchase_count = grouped_items['Item Name'].count()
item_price = grouped_items['Price'].mean()
total_purchase_value = grouped_items['Price'].sum()

total_purchase_value.head()
popular_items = pd.DataFrame({
    'Purchase Count' : purchase_count,
    'Item Price' : item_price,
    'Total Purchase Value': total_purchase_value
})
sorted_items = popular_items.sort_values('Purchase Count', ascending=False)

sorted_items['Item Price'] = item_price.map("${:.2f}".format)
sorted_items['Total Purchase Value'] = total_purchase_value.map("${:.2f}".format)

sorted_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

In [109]:
profitable_items = popular_items.sort_values('Total Purchase Value', ascending=False)
profitable_items['Item Price'] = item_price.map("${:.2f}".format)
profitable_items['Total Purchase Value'] = total_purchase_value.map("${:.2f}".format)
profitable_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80